body{
    background-color: #f8efe5;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    color: #ef71cc;
}

p{
    color:black;
}

a, h3{
    color: #ac8fe7;
}

.lista{
    color: #f6b8a7;
    -webkit-text-stroke: 0.1px black;
}

img{
    width: 400px;
    height: 250px;
    border-color: #ef71cc;
    border-style: groove;
    border-width: 5px;
}

footer{
    background-color: #ffff9b;
    text-align: center;
}